#container-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: auto;
  max-width: 800px;
  background-color: var(--color-products);
}

.card-products {
  margin-top: 20px;
  max-width: 300px;
  text-align: center;
}

.card-products img {
  aspect-ratio: 1.5; /* Esta propiedad ayuda a que todas la imagenes tengan el mimsmo tamaño*/
  border-radius: 8px;
  height: 50%;
  object-fit: cover;/* Asegura que la imagen cubra todo el contenedor */
  width: 100%;
}
